@use '../assets/styles/variables' as *;

.app-shell {
  min-height: 100vh;
  background: $surface-color;
}

.app-bar {
  background: white;
  box-shadow: $shadow;
  padding: 1rem 2rem;
  font-weight: 700;
  color: $primary-color;
}

.app-content {
  padding: 2rem 0 3rem;
}
