@use '../../../../assets/styles/variables' as *;

.loader {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 4px solid lighten($primary-color, 25%);
  border-top-color: $primary-color;
  animation: spin 1s linear infinite;
  margin: 1rem auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
