@use 'variables' as *;

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;

  th,
  td {
    padding: 0.75rem 1rem;
    text-align: left;
  }

  thead {
    background: $primary-color;
    color: white;
  }

  tbody tr {
    border-bottom: 1px solid #e5e7eb;

    &:hover {
      background: #f9fafb;
    }
  }
}
